<a href="https://colab.research.google.com/github/StandingR/Python_practice/blob/main/0906_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##함수

In [ ]:
# def functionname[a, b]:
def sum(num1, num2):
  result = num1 + num2
  return (result)

In [ ]:
sum(10000000009, 3921830921832019839021)

3921830921842019839030

In [ ]:
#입력값이 x
def say():
  return "Hi"
say()

'Hi'

In [ ]:
def sum2(num1, num2):
  print(num1+num2)

a = sum(3,4)
b = sum2(3,4)

7

In [ ]:
print(a)
print(b)

7
None

In [ ]:
sum (3,4) #SUM에 순서대로 넣어주는것
sum (num1 = 3, num2 = 4) #SUM에 파라미터를 명시해서 넣어주는것, 순서가 바뀌어도 된다.

7

In [ ]:
def say_myself(name, old, man = True): # man = True의 경우는 맨 끝에 작성 미리지정
  print(f"나의 이름은 {name}입니다.")
  print(f"나의 이름은 {old}입니다.")
  if man:
    print("남자.")
  else:
    print("여자.")
say_myself("홍길동",20)
say_myself("박명수",56, True)
say_myself("홍길동",20, False)
say_myself("재우",27)

나의 이름은 홍길동입니다.
나의 이름은 20입니다.
남자.
나의 이름은 박명수입니다.
나의 이름은 56입니다.
남자.
나의 이름은 홍길동입니다.
나의 이름은 20입니다.
여자.
나의 이름은 재우입니다.
나의 이름은 27입니다.
남자.

In [ ]:
#조금 어렵지만 빡세거입니당!

## 전역변수 vs 지역변수

- 전역변수 : 함수 외부에서 선언 된 변수이며 프로그램 전체에서 사용 가능하다.
- 지역변수 : 함수 내부에서 선언 된 변수이며, 해당 함수 내부에서만 사용할 수 있다.

In [ ]:
#지역 변수
def test():
  local_var = 20
test()

In [ ]:
print(local_var)

In [ ]:
# 쓰려면 함수에 값을 지정
def test2():
  local_var = 20
  return local_var
a = test2()
print(a)

In [ ]:
# 그냥 알고만 있어라, 지역변수를 전역변수로 바꿔서 쓰는법, 걍 까먹으셈

def test3():
  global local_var
  local_var = 20
test3()
print(local_var)

20

In [ ]:
"""Example 2-9. 입력하는 모든 수의 평균을 계산하는 함수 만들기
* 입력 개수에 상관없이 사용하기 위해, 함수 입력 값 자리에, *args를 사용
-> def means(*args):"""

def means(*args):
  return args
print(means(1,2,3))
print(means(1,2,3,4,5,6))

(1, 2, 3)
(1, 2, 3, 4, 5, 6)

In [ ]:
def average(args):
  print(f"{args}"+ "{args}" % {args})

## 실습문제

1.BackAccount이름의 클래스를 생성합니다.

2.생성자 메서드로, 계좌 번호, 예금주 이름, 초기 잔액을 받아 계좌를 생성합니다.

3.입금, 출금, 현재 계좌의 잔액을 반환하는 메서드를 생성합니다.

In [ ]:
class BackAccount:
  def __init__(self,acnum, acbalance):
    self.acnum =

In [ ]:
class BackAccount:
  #self("계좌번호를 입력하세요")
  def __init__(self, accountname, balance):
    self.accountname = accountname
    self.balance  = balance

d = BackAccount("123", 4000)
print(d.balance,d.accountname)

4000 123

## 상속

In [ ]:
class FourCal:
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2

    def add(self):
        return self.num1 + self.num2

    def subtract(self):


        return self.num1 - self.num2

    def multiply(self):
        return self.num1 * self.num2

    def divide(self):
        return self.num1 / self.num2

In [ ]:
class MoreFourCal(FourCal):
  def divide(self):
    if self.num2 == 0:
      return 0
    else:
      return self.num1 / self.num2

In [ ]:
a = MoreFourCal(2, 0)
a.divide()